<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
    <script>window.__INITIAL_STATE__={{{json initialState}}}</script>
    <script src='/js/bundle.js'></script>
  </body>
</html>
